[submodule "lab3/googletest"]
	path = lab3/googletest
	url = https://github.com/google/googletest.git
[submodule "lab3b/googletest"]
	path = lab3b/googletest
	url = https://github.com/google/googletest.git
